:root {
    --width-content-xxl: 396px;
    --width-content-xl: 396px;
    --width-content-lg: 396px;
    --width-content-md: 396px;
    --width-content-sm: 396px;
    --width-content-xs: 396px;
}

.section_content_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;

    @include media-xl {
        padding-left: $horizontal-padding-mobile;
        padding-right: $horizontal-padding-mobile;
    }
}

.content_wrapper {
    max-width: var(--width-content-xxl);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@include media-xl {
    .content-wrapper {
        max-width: var(--width-content-xl);
    }
}

@include media-lg {
    .content-wrapper {
        max-width: var(--width-content-lg);
    }
}

@include media-md {
    .content-wrapper {
        max-width: var(--width-content-md);
    }
}

@include media-sm {
    .content-wrapper {
        max-width: var(--width-content-sm);
    }
}

@include media-xs {
    .content-wrapper {
        max-width: var(--width-content-xs);
    }
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
